flows/shopify/shared/sync-orchestrator.json
{
  "name": "Shopify Sync Orchestrator",
  "description": "Coordinates the Shopify synchronization process including business hours check, error handling, and logging",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": "{{ $vars.SYNC_INTERVAL_MINUTES || 15 }}"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Sync Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-business-hours-start",
              "leftValue": "{{ $now.hour() }}",
              "rightValue": "{{ $vars.BUSINESS_HOURS_START || 8 }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "check-business-hours-end",
              "leftValue": "{{ $now.hour() }}",
              "rightValue": "{{ $vars.BUSINESS_HOURS_END || 18 }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "check-weekday",
              "leftValue": "{{ $now.weekday() }}",
              "rightValue": "6",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "check-enabled-flag",
              "leftValue": "{{ $vars.SYNC_ENABLED || 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "business-hours-check",
      "name": "Business Hours Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "manualTrigger": true
      },
      "id": "manual-trigger",
      "name": "Manual Sync Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "functionCode": "// Initialize sync session\nconst syncSession = {\n  session_id: `sync_${Date.now()}`,\n  start_time: $now.toISOString(),\n  sync_type: 'full_shopify_sync',\n  environment: $vars.ENVIRONMENT || 'development',\n  components: ['orders_fetch', 'products_fetch', 'orders_transform', 'products_transform'],\n  status: 'initiated'\n};\n\nconsole.log('=== SYNC ORCHESTRATOR START ===');\nconsole.log('Session ID:', syncSession.session_id);\nconsole.log('Start time:', syncSession.start_time);\nconsole.log('Environment:', syncSession.environment);\nconsole.log('Components:', syncSession.components.join(', '));\nconsole.log('================================');\n\nreturn [{ json: syncSession }];"
      },
      "id": "init-session",
      "name": "Initialize Sync Session",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "workflowId": "{{ $vars.WORKFLOW_ID_ORDERS_FETCH || 'shopify-orders-fetch' }}",
        "data": "={{ $json }}",
        "options": {}
      },
      "id": "trigger-orders-fetch",
      "name": "Trigger Orders Fetch",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "workflowId": "{{ $vars.WORKFLOW_ID_PRODUCTS_FETCH || 'shopify-products-fetch' }}",
        "data": "={{ $json }}",
        "options": {}
      },
      "id": "trigger-products-fetch",
      "name": "Trigger Products Fetch",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-fetch-results",
      "name": "Merge Fetch Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "workflowId": "{{ $vars.WORKFLOW_ID_ORDERS_TRANSFORM || 'orders-transform' }}",
        "data": "={{ $json }}",
        "options": {}
      },
      "id": "trigger-orders-transform",
      "name": "Trigger Orders Transform",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "workflowId": "{{ $vars.WORKFLOW_ID_PRODUCTS_TRANSFORM || 'products-transform' }}",
        "data": "={{ $json }}",
        "options": {}
      },
      "id": "trigger-products-transform",
      "name": "Trigger Products Transform",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-transform-results",
      "name": "Merge Transform Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "functionCode": "// Compile comprehensive sync summary\nconst allResults = $input.all();\nconst sessionData = allResults[0]?.json || {};\n\nconst summary = {\n  session_id: sessionData.session_id || `sync_${Date.now()}`,\n  start_time: sessionData.start_time || $now.toISOString(),\n  end_time: $now.toISOString(),\n  duration_minutes: Math.round(($now.getTime() - new Date(sessionData.start_time || $now.toISOString()).getTime()) / 60000 * 100) / 100,\n  sync_type: 'full_shopify_sync',\n  environment: $vars.ENVIRONMENT || 'development',\n  \n  // Aggregate fetch results\n  fetch_results: {\n    orders: {\n      status: 'completed',\n      records_processed: 0,\n      errors: []\n    },\n    products: {\n      status: 'completed', \n      records_processed: 0,\n      errors: []\n    }\n  },\n  \n  // Aggregate transform results\n  transform_results: {\n    orders: {\n      status: 'completed',\n      input_records: 0,\n      output_records: 0,\n      errors: []\n    },\n    products: {\n      status: 'completed',\n      input_records: 0,\n      output_records: 0,\n      errors: []\n    }\n  },\n  \n  overall_status: 'success',\n  total_errors: 0,\n  error_details: []\n};\n\n// Process all results to extract metrics\nallResults.forEach(result => {\n  const data = result.json;\n  \n  if (data.fetch_type === 'orders') {\n    summary.fetch_results.orders.records_processed = data.records_processed || 0;\n  } else if (data.fetch_type === 'products') {\n    summary.fetch_results.products.records_processed = data.records_processed || 0;\n  }\n  \n  if (data.transform_type === 'orders') {\n    summary.transform_results.orders = {\n      status: data.status || 'completed',\n      input_records: data.input_records || 0,\n      output_records: data.orders_processed || 0,\n      errors: data.errors || []\n    };\n  } else if (data.transform_type === 'products') {\n    summary.transform_results.products = {\n      status: data.status || 'completed',\n      input_records: data.input_records || 0,\n      output_records: data.products_processed || 0,\n      errors: data.errors || []\n    };\n  }\n});\n\n// Calculate totals and determine overall status\nsummary.total_errors = \n  (summary.transform_results.orders.errors?.length || 0) + \n  (summary.transform_results.products.errors?.length || 0);\n\nsummary.overall_status = summary.total_errors === 0 ? 'success' : 'partial_success';\nif (summary.total_errors > 10) {\n  summary.overall_status = 'failed';\n}\n\n// Collect error details\nsummary.error_details = [\n  ...summary.transform_results.orders.errors || [],\n  ...summary.transform_results.products.errors || []\n].slice(0, 50); // Limit to first 50 errors\n\nconsole.log('=== SYNC ORCHESTRATOR SUMMARY ===');\nconsole.log('Session ID:', summary.session_id);\nconsole.log('Duration:', summary.duration_minutes, 'minutes');\nconsole.log('Orders fetched:', summary.fetch_results.orders.records_processed);\nconsole.log('Products fetched:', summary.fetch_results.products.records_processed);\nconsole.log('Orders transformed:', summary.transform_results.orders.input_records);\nconsole.log('Products transformed:', summary.transform_results.products.input_records);\nconsole.log('Total errors:', summary.total_errors);\nconsole.log('Overall status:', summary.overall_status);\nconsole.log('===================================');\n\nreturn [{ json: summary }];"
      },
      "id": "compile-summary",
      "name": "Compile Sync Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "url": "{{ $vars.SUPABASE_HOST + '/rest/v1/sync_log' }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "{{ 'Bearer ' + $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxAttempts": 3,
            "waitBetween": 2000
          }
        }
      },
      "id": "log-to-database",
      "name": "Log Sync to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "{{ $vars.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.overall_status === 'success' ? '✅' : $json.overall_status === 'partial_success' ? '⚠️' : '❌' }} Shopify Sync {{ $json.overall_status === 'success' ? 'Complete' : $json.overall_status === 'partial_success' ? 'Complete with Errors' : 'Failed' }}\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"Shopify Sync Report\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Duration:*\\n{{ $json.duration_minutes }} min\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Status:*\\n{{ $json.overall_status }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Orders Fetched:*\\n{{ $json.fetch_results.orders.records_processed }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Products Fetched:*\\n{{ $json.fetch_results.products.records_processed }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Orders Transformed:*\\n{{ $json.transform_results.orders.input_records }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Products Transformed:*\\n{{ $json.transform_results.products.input_records }}\"\n        }\n      ]\n    },\n    {{ $json.total_errors > 0 ? `\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*⚠️ Errors:* {{ $json.total_errors }}\\n\\`\\`\\`${ $json.error_details.slice(0, 3).join('\\n') }\\`\\`\\`\"\n      }\n    }` : '' }}\n  ]\n}",
        "options": {
          "retry": {
            "enabled": true,
            "maxAttempts": 2,
            "waitBetween": 1000
          }
        }
      },
      "id": "slack-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "manual",
        "manualTrigger": true
      },
      "id": "skip-trigger",
      "name": "Skip Sync (Outside Business Hours)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "functionCode": "// Log skipped sync\nconsole.log('=== SYNC SKIPPED ===');\nconsole.log('Time:', $now.toISOString());\nconsole.log('Hour:', $now.hour());\nconsole.log('Weekday:', $now.weekday());\nconsole.log('Business hours:', ($vars.BUSINESS_HOURS_START || 8) + '-' + ($vars.BUSINESS_HOURS_END || 18));\nconsole.log('Weekdays: 0-5 (Mon-Fri)');\nconsole.log('==================');\n\nreturn [{ json: { \n  status: 'skipped', \n  reason: 'outside_business_hours',\n  timestamp: $now.toISOString() \n} }];"
      },
      "id": "log-skip",
      "name": "Log Skip Reason",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Sync Schedule Trigger": {
      "main": [
        [
          {
            "node": "Business Hours Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Sync Trigger": {
      "main": [
        [
          {
            "node": "Initialize Sync Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Hours Check": {
      "main": [
        [
          {
            "node": "Initialize Sync Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Sync Session": {
      "main": [
        [
          {
            "node": "Trigger Orders Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Products Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Orders Fetch": {
      "main": [
        [
          {
            "node": "Merge Fetch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Products Fetch": {
      "main": [
        [
          {
            "node": "Merge Fetch Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Fetch Results": {
      "main": [
        [
          {
            "node": "Trigger Orders Transform",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Products Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Orders Transform": {
      "main": [
        [
          {
            "node": "Merge Transform Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Products Transform": {
      "main": [
        [
          {
            "node": "Merge Transform Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Transform Results": {
      "main": [
        [
          {
            "node": "Compile Sync Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Sync Summary": {
      "main": [
        [
          {
            "node": "Log Sync to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sync to Database": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "activeCount": 0
}