flows/shopify/orders/shopify-orders-fetch.json
{
  "name": "Shopify Orders Fetch",
  "description": "Fetches orders from Shopify API and stores them in raw table format",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": "{{ $vars.SHOPIFY_FETCH_INTERVAL_MINUTES || 15 }}"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "{{ 'https://' + $vars.SHOPIFY_ADMIN + '.myshopify.com/admin/api/' + ($vars.SHOPIFY_API_VERSION || '2023-10') + '/orders.json' }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "{{ $vars.SHOPIFY_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "qs": {
            "limit": "{{ $vars.SHOPIFY_FETCH_LIMIT || 250 }}",
            "status": "any",
            "updated_at_min": "{{ $now.subtract(parseInt($vars.SHOPIFY_FETCH_WINDOW_HOURS || 1), 'hours').toISOString() }}"
          },
          "retry": {
            "enabled": true,
            "maxAttempts": 3,
            "waitBetween": 1000
          }
        }
      },
      "id": "fetch-orders",
      "name": "Fetch Shopify Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "continueOnFail": false
    },
    {
      "parameters": {
        "url": "{{ $vars.SUPABASE_HOST + '/rest/v1/raw_shopify_orders' }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "{{ 'Bearer ' + $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.orders || [$json] }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxAttempts": 3,
            "waitBetween": 2000
          }
        }
      },
      "id": "store-raw-orders",
      "name": "Store Raw Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Log fetch results and prepare response\nconst responseData = $input.first().json;\nconst orders = $json.orders || [$json];\n\nconst result = {\n  fetch_type: 'orders',\n  source: 'shopify_api',\n  records_processed: orders.length,\n  fetch_timestamp: $now.toISOString(),\n  status: 'success',\n  raw_data_endpoint: 'raw_shopify_orders',\n  next_step: 'orders_transform',\n  metadata: {\n    api_version: $vars.SHOPIFY_API_VERSION || '2023-10',\n    fetch_window_hours: $vars.SHOPIFY_FETCH_WINDOW_HOURS || 1,\n    limit: $vars.SHOPIFY_FETCH_LIMIT || 250\n  }\n};\n\n// Add logging for monitoring\nconsole.log('=== SHOPIFY ORDERS FETCH LOG ===');\nconsole.log('Timestamp:', $now.toISOString());\nconsole.log('Orders fetched:', orders.length);\nconsole.log('Fetch window:', ($vars.SHOPIFY_FETCH_WINDOW_HOURS || 1) + ' hours');\nconsole.log('API version:', $vars.SHOPIFY_API_VERSION || '2023-10');\nconsole.log('===================================');\n\nreturn [{ json: result }];"
      },
      "id": "log-results",
      "name": "Log Fetch Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Shopify Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Shopify Orders": {
      "main": [
        [
          {
            "node": "Store Raw Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Raw Orders": {
      "main": [
        [
          {
            "node": "Log Fetch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "activeCount": 0
}